*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background: linear-gradient(to right,rgba(234,212,212,0.5),rgba(245, 239, 239, 0.5)), url('images/wood.jpeg');   
    height: 100%; 
}

.app__btn{
    border-radius:70%;
    padding:0.5rem;
    font-size: 0.5rem;
    margin:0;
    font-weight: 500;

    @media screen and (min-width:400px){
        font-size: 0.75rem;
        padding:0.75rem;
    }
    @media screen and (min-width:600px){
        font-size: 0.85rem;
        padding:0.85rem;
    }
    @media screen and (min-width:768px){
        font-size: 1rem;
        padding:1rem;
    }
    @media screen and (min-width:1024px){
        font-size: 1.5rem;
        padding:1.2rem;
    }
}

.app__img{
    width:50%;
}